.App {
  width: 100vw;
  height: 100vh;
  color: white;
  background-color: #1b1c1d;

  a {
    color: #58a6ff;

    &:hover {
      color: #58a6ff;
      text-decoration: underline;
    }
  }
}

.main-layout {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100%;
  height: 100%;

  & > :nth-child(2) {
    overflow-y: scroll;
  }
}

.page-content {
  display: flex;
  justify-content: center;
}

.page-layout {
  max-width: 1000px;
  padding: 24px;
}
