body {
  min-width: auto !important;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
textarea {
  color: white;

  &::selection {
    color: white !important;
    background: #6983a8 !important;
  }

  &::placeholder {
    color: #b0b3b8;
  }
}
