.PostComment {
  display: flex;
  gap: 8px;
}

.comment-avatar {
  width: 32px;
  height: 32px;
  clip-path: circle(50%);

  &:hover {
    filter: brightness(1.1);
  }
}

.comment-text {
  margin: 0;
}

.comment-username {
  color: white;
  font-weight: bold;
}

.comment-content {
  display: grid;
  grid-template-rows: 20px 1fr auto;
  min-height: 40px;
}

.comment-actions {
  display: flex;
  font-size: 14px;

  > * + *::before {
    color: gray;
    content: '．';
  }
}

.comment-action {
  display: flex;
  align-items: center;
  padding: 0;
  background: none;
  border: 0;
  cursor: pointer;

  &:hover > .comment-action-text {
    text-decoration: underline;
  }
}

.comment-action-loader {
  &::before,
  &::after {
    width: 14px;
    height: 14px;
    margin-left: -50%;
  }
}

.comment-action-loader,
.comment-likes-count {
  width: 14px;
  height: 14px;
  margin-left: 4px;
  color: #bdb3b8;
}

.comment-action-text {
  color: #bdb3b8;

  &.liked {
    color: #58a6ff;
    font-weight: bold;
  }
}

.comment-timestamp {
  color: gray;
}
