.profile-view-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 16px 0;
}

.profile-experience-and-education {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
