.primary-button {
  padding: 16px 24px;
  color: black;
  font-weight: bold;
  background-color: mediumspringgreen;
  border: 0;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    filter: brightness(1.2);
  }
}
